html, body {
    background-color: cornflowerblue;
}

.welcome_section form{
    margin: 5px;
}

.welcome_section label{
    float: left;
    display: inline-block;
    width: 100px;
}

.welcome_section input[type="submit"]{
    float: right;
    width: 70px;
}

.welcome_section input, .welcome_section select{
    box-sizing: border-box;
    width: 140px;
    margin-bottom: 5px;
}

abbr{
    text-decoration: underline;
}

h2{
    text-align: center;
}

.welcome_section{
    background-color: white;
}

#current_view{
    width: 600px;
    height: 400px;
    margin: 100px auto auto;
}

#logo_slogan{
    width: 340px;
    height: 400px;
    float: left;
    margin-right: 10px;
    background-image: url("wimage.png");
}

#login_form{
    margin-bottom: 10px;
    width: 250px;
    float: right;
    height: 20%;
}

#signup_form{
    float: right;
    width: 250px;
    height: 77.5%;
}

.invalid_input {
	border-color: red;
}

#message_box{
    position: absolute;
    left: 0;
    top: 0;
    width: 350px;
    margin: 10px;
}

.message {
    background: white;
    padding: 10px;
    padding-right: 30px;
    margin-bottom: 10px;

    border-radius: 5px;
    border: 3px solid rgb(225,225,225);

    opacity: 0.95;
}

.message .message_close {
    position: absolute;

    cursor: hand;

    right: 0;
    margin-right: 10px;
    font-weight: bold;
    color: rgb(150,150,150);
}

.message_error {
    background-color: rgb(255, 175, 175);
    border-color: rgb(200,100,100);
}

.message_error .message_close {
    color: rgb(175,75,75);
}

.message_success {
    background-color: rgb(175, 255, 175);
    border-color: rgb(100,200,100);
}

.message_success .message_close {
    color: rgb(75,175,75);
}

.hidden{
    display: none;
}

header {
    background: white;

    margin-bottom: 10px;
}

section {
    padding: 10px;
    background: white;
    margin-bottom: 10px;
}

footer {
    background: white;
    padding: 10px;
    font-size: 0.8em;
    font-style: italic;
}

.menu {
    height: 45px;
}

.menu_tab {
    height: 100%;
    line-height: 45px;
    display: inline-block;

    padding: 0 10px;
    cursor: hand;
}

.menu_title {
    float: left;
    font-size: 1.2em;
    font-weight: bold;

    line-height: 45px;
    padding: 0 10px 0 15px;
}

.menu_tab span {
    border-bottom: 3px solid transparent;
}

.menu_tab:hover {
    background-color: rgb(235,235,235);
}

.selected span {
    font-weight: bold;
    border-color: orange;
}

.panel h1 {
    border-bottom: 1px solid rgb(125,125,125);
}