<div id="logo_slogan" class="welcome_section">
</div>
<div id="login_form" class="welcome_section">
    <form id="login" action="">
        <div>
            <label for="user_email">Email</label>
            <input type="email" name="user_email" id="user_email" required>
        </div>
        <div>
            <label for="user_password">Password</label>
            <input type="password" name="user_password" id="user_password" required>
        </div>
        <input type="submit" class="btn" value="Login">
    </form>
</div>
<div id="signup_form" class="welcome_section">
    <h2>Sign up here</h2>
    <form id="signup" action="">
        <div>
            <label>First name</label>
            <input type="text" name="first_name" required>
        </div>
        <div>
            <label>Family name</label>
            <input type="text" name="family_name" required>
        </div>
        <div>
            <label>Gender</label>
            <select name="gender" required>
                <option value="m" selected="selected">Male</option>
                <option value="f">Female</option>
            </select>
        </div>
        <div>
            <label>City</label>
            <input type="text" name="city" required>
        </div>
        <div>
            <label>Country</label>
            <input type="text" name="country" required>
        </div>
        <div>
            <label>Email</label>
            <input type="email" name="username" required>
        </div>
        <div>
            <label>Password</label>
            <input type="password" name="password" required>
        </div>
        <div>
            <label>Repeat <abbr title="password">pwd</abbr></label>
            <input type="password" name="repeat_password" required>
        </div>
        <input type="submit" class="btn" value="Sign up">
    </form>
</div>